body {
    background-color: #303030;
    margin: 0px;
}

header {
    background-color: #212121;
}

h1 {
    padding: .2em;
    text-align: center;
    color: #fff;
}

main {
    width: 100%;
    max-width: 640px;
    margin: auto;
    background-color: #424242;
    color: #fff;
    opacity: .7;
    box-shadow: .2em .2em .4em #212121;
    border-radius: .1em;
    font: 1em/1.3em arial, sans-serif;
}

#container {
    padding: 1em;
}

#container > div {
    padding-bottom: 1em;
}

.form-group {
    display: inline-block;
    padding-left: 1.5em;
    padding-bottom: 1em;
    vertical-align: top;
}
.form-group label {
    display: block;
}
input[type="radio"] {
    background: #fff;
    border: .1em solid #c6c6c6;
    border-image: -ms-linear-gradient(top, #fff, #fff);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 1.5em;
    margin: 0 .5em 0 0;
    outline: 0;
    position: relative;
    top: .2em;
    width: 1.5em;
}
.form-group p {
    margin: 0em 0em .3em 0em;
}

textarea {
    min-height: 10em;
    resize: none;

    border: .1em solid #d9d9d9;
    -moz-border-radius: .1em;
    -webkit-border-radius: .1em;
    border-radius: .1em;
    border-top: .1em solid #c0c0c0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    /*font-family: arial, sans-serif;*/
    padding: .3em;
}

#input, #output {
    width:100%;
    height: 100%;
    box-sizing: border-box;
}

button {
    background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: linear-gradient(top, #f5f5f5, #f1f1f1);
    border: .1em solid #dcdcdc;
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
    cursor: default;
    font-weight: bold;
    height: 2.41em;
    line-height: 2.25em;
    margin: 0;
    min-width: 6em;
    outline: 0;
    padding: 0 .67em;
    text-align: center;
    white-space: nowrap;
}

#message {
    margin-left: 1em;
    font-size:1.3em;
    vertical-align: middle;
    
    opacity: 0;
    transition: opacity 1.5s ease-in;
    -ms-transition: opacity 1.5s ease-in;
    -moz-transition: opacity 1.5s ease-in;
    -webkit-transition: opacity 1.5s ease-in;
}

#message.show {
    opacity: 1;
    transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
}

.hidden {
    display: none;
}
select + select {
    top
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), linear-gradient(top, #f5f5f5, #f1f1f1);
  background-position: 95% 50%;
  background-repeat: no-repeat;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  margin: .5em 0px;
  min-width: 72px;
  outline: 0;
  padding: 7px 19px 7px 4px;
  text-align: center;
  text-indent: .01px;
  text-overflow: ellipsis;
  text-overflow: '';
  white-space: nowrap;
}

select:-ms-expand {
    display: none;
}

select:hover {
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  color: #111;
}

select:focus {
  border: 1px solid #4d90fe;
}

select:disabled {
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png);
  border: 1px solid #dcdcdc;
  color: #333;
  opacity: .5;
}