body {
    background-color: #303030;
}

header {
    background-color: #212121;
}

h1 {
    padding: .8em;
    text-align: center;
    color: #fff;
}

main {
    width: 100%;
    max-width: 640px;
    margin: auto;
    background-color: #424242;
    padding:1em;
    color: #fff;
    opacity: .7;
    box-shadow: .2em .2em .4em #212121;
    border-radius: .1em;
}

main > div {
    padding-bottom: 1em;
}

.form-group {
    display: inline-block;
    padding-left: 1.5em;
    vertical-align: top;
}
.form-group label {
    display: block;
    /*color: #fff;*/
    /*opacity: .7;*/
}
.form-group p {
    margin: 0em 0em .3em 0em;
    /*color: #fff;*/
}

textarea {
    min-height: 10em;
    resize: none;
}

#input, #output {
    width:100%;
    height: 100%;
    box-sizing: border-box;
}

#message {
    margin-left: 1em;
    font-size:1.3em;
    vertical-align: middle;
    
    opacity: 0;
    transition: opacity 1.5s ease-in;
    -ms-transition: opacity 1.5s ease-in;
    -moz-transition: opacity 1.5s ease-in;
    -webkit-transition: opacity 1.5s ease-in;
}

#message.show {
    opacity: 1;
    transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
}

.hidden {
    display: none;
}